{{!< default}}

Generic Page

{{#post}}
    <main id="main-content" class="content-narrow" role="main">
        <article class="page">
            <header class="post-header">
                <h1 itemprop="headline">{{title}}</h1>
                <hr/>
            </header>
            <section class="page">
                {{content}}
            </section>
        </article>
        <script>
            // Store the pagination max-pages property for use in infinite scrolling
            var max_pages = 0;
        </script>
        {{> sidebarfeed}}
    </main>
{{/post}}