{{!< default}}
<main id="main-content" class="content-wide" role="main">

    <header class="tag-archive-header {{tag.name}}">
        <h1><span class="small">on the subject of</span> {{tag.name}}</h1>

        <header class="invisible vis3d">
            <h2>3D visualization makes data pretty. It usually requires a ton of math, which is simultaneously cool and ugly.</h2>
        </header>
        <div class="invisible backdrop-logo vis3d">Wow! 3D!</div>

        <header class="invisible ai">
            <h2>Agents, machine learning, pathfinding, finite state machines, and everything else that powers our robot overlords.</h2>
        </header>
        <div class="invisible backdrop-logo ai">A.I.</div>

        <div class="invisible backdrop-logo fsharp">F#</div>
        <header class="invisible csharp">
            <h2>C#, a fantastic strongly-typed language for .NET and Mono</h2>
        </header>
        <div class="invisible backdrop-logo csharp">C#</div>

        <header class="invisible android">
            <h2>Android Online</h2>
        </header>
        <div class="invisible backdrop-logo android"><i class="fa fa-android"></i></div>

        <header class="invisible food">
            <h2>Cooking is like programming, except that I can eat what I make. If it goes wrong, it usually still tastes pretty good. Also, this site name makes more sense if I actually mention food somewhere. Curried functions, curry, food, get it? ...no? Aww.</h2>
        </header>
        <div class="invisible backdrop-logo food">yum</div>

        <header class="invisible fsharp">
            <h2>F# is a powerful and flexible functional language for .NET and Mono.  Fall in love with functional!</h2>
        </header>
        <div class="invisible backdrop-logo fsharp">F#</div>

        <header class="invisible web-frontend">
            <h2>HTML5, CSS3, less, Javascript, and all those open-source libraries that make the Internet beautiful</h2>
        </header>
        <div class="invisible backdrop-logo web-frontend">&lt;&#47;&gt;</div>
    </header>
    {{> postpreviews}}
</main>
